{{>partials/header}}
<section class="banner" style="background-image: url('images/')">Todos</section>
<h2>Todos</h2>

<div class="container list">
    <div class="item">
        <img src="images/pastor-alemao.jpg" class="item--image" />
        <div class="item--name"></div>
        <div class="item--color"></div>
        <div class="item--genre"></div>
    </div>
</div>
{{>partials/footer}}